<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yiwen.mobike">

    <!-- baidu LBS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- sns -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- qrscan -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- sharesdk 所需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/mobike_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- sharesdk -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- lbs -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FzrnM3BFcOI9M4ZiWn0NvABCq0uWtyda"/>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity">
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.usercenter.UseInfoActivity"
            android:label="@string/title_activity_use_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.ActionSearchActivity">
        </activity>
        <!-- <activity android:name=".activity.SplashActivity"></activity> -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"/>
        <!-- baidu lbs -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".activity.usercenter.UserActivity"
            android:label="@string/title_activity_User"
            android:theme="@style/use_activity_style">
        </activity>
        <activity android:name=".activity.usercenter.UserDetailActivity">
        </activity>
        <activity android:name=".activity.usercenter.MyMessagesActivity">
        </activity>
        <activity
            android:name=".activity.usercenter.MessageDetailActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activity.WebViewActivity">
        </activity>
        <activity android:name=".activity.redpacket.MyRedPocketActivity">
        </activity>
        <!-- <activity android:name=".activity.RegActivity"> -->
        <!-- </activity> -->
        <!-- sns -->
        <activity
            android:name=".activity.HelpCardActivity"
            android:theme="@style/AppTheme.HintCard">
        </activity>
        <activity android:name=".activity.usercenter.ModifyNickNameActivity">
        </activity>
        <activity android:name=".activity.usercenter.MobileNumActivity">
        </activity>
        <activity android:name=".activity.pay.WalletActivity">
        </activity>
        <!-- imagepicker -->
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen"/>
        <activity android:name=".activity.login.SsoUserInfoActivity">
        </activity>
        <activity
            android:name=".qrcode.CaptureActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activity.login.CampusVerifyActivity">
        </activity>
        <activity android:name=".activity.pay.RechargeHistoryActivity">
        </activity>
        <activity android:name=".activity.customer.CustomerServiceWebActivity">
        </activity>
        <activity android:name=".activity.usercenter.MyCreditActivity">
        </activity>
        <activity android:name=".activity.usercenter.MyCouponsActivity">
        </activity>
        <activity android:name=".activity.riding.MyTripsActivity">
        </activity>
        <activity android:name=".activity.usercenter.InviteFriendActivity">
        </activity>
        <activity android:name=".activity.usercenter.UserManuelActivity">
        </activity>
        <activity android:name=".activity.customer.ReportUnlockFailActivity">
        </activity>
        <activity android:name=".activity.customer.BikeDamageReportActivity">
        </activity>
        <activity android:name=".activity.customer.ReportViolationsActivity">
        </activity>
        <activity android:name=".activity.usercenter.UserManuelAllQuestionActivity">
        </activity>
        <activity android:name=".activity.usercenter.SettingsActivity">
        </activity>
        <!-- <activity android:name=".TestActivity"> -->
        <!-- </activity> -->
        <activity android:name=".activity.login.RegisterRechargeActivity">
        </activity>
        <activity android:name=".activity.login.IDCardVerifyActivity">
        </activity>
        <activity
            android:name=".activity.riding.RouteDetailActivity"
            android:theme="@style/AppTheme"/>

        <service android:name=".service.RouteService"/>

        <receiver android:name=".activity.MainActivity$LocationReceiver">
            <intent-filter>
                <action android:name="com.locationreceiver"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.RouteService$NetWorkReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.PoiProvider"
            android:authorities="com.yiwen.mobike.provider.poiprovider"
            android:exported="true"/>

        <activity android:name=".activity.pay.DepositRefundIssueActivity">
        </activity>
        <activity android:name=".activity.customer.LastTenTripHistoryActivity">
        </activity>
        <activity android:name=".activity.customer.NormalLastRideDescActivity">
        </activity>
        <activity android:name=".activity.customer.RidingOtherIssueActivity">
        </activity>
        <activity android:name=".activity.usercenter.SettingAddressActivity">
        </activity>
        <activity android:name=".activity.pay.PayActivity">
        </activity>
        <activity android:name=".activity.login.SubmitIDInfoActivity">
        </activity>
        <activity android:name=".activity.QRCodeInputActivity">
        </activity>
        <activity android:name=".activity.WBShareActivity">
        </activity>
        <activity android:name=".activity.pay.CreditCardSelectActivity">
        </activity>
        <activity android:name=".activity.pay.CreditCardAddActivity">
        </activity>
        <activity android:name=".activity.pay.RefundAccountActivity">
        </activity>
        <activity android:name=".activity.pay.RefundResultActivity">
        </activity>
        <activity android:name=".activity.customer.LockNoFeeActivity">
        </activity>
        <activity android:name=".activity.customer.NormalCustomerServiceActivity">
        </activity>
        <activity android:name=".activity.customer.ReportIssueActivity">
        </activity>
        <activity android:name=".activity.customer.RidingCustomerServiceActivity">
        </activity>
        <activity android:name=".activity.redpacket.AlipayWithdrawActivity">
        </activity>
        <activity android:name=".activity.redpacket.RedPacketAmountDetailActivity">
        </activity>
        <activity android:name=".activity.redpacket.RedPocketDetailActivity">
        </activity>
        <activity android:name=".activity.redpacket.WithdrawActivity">
        </activity>
        <activity android:name=".activity.riding.RideResultActivity">
        </activity>
        <activity android:name=".activity.riding.SurpriseRedPackageActivity">
        </activity>
        <activity android:name=".activity.riding.TripDetailActivity">
        </activity>
        <activity android:name=".activity.riding.UploadParkingImgActivity">
        </activity>
        <activity android:name=".activity.usercenter.ChangeMobileNumActivity">
        </activity>
        <activity android:name=".activity.usercenter.CommonlyAddressSettingActivity">
        </activity>
        <activity android:name=".activity.usercenter.ContestNegativeRecordActivity">
        </activity>
        <activity android:name=".activity.usercenter.StickerCollectionActivity">
        </activity>
    </application>

</manifest>